@model IEnumerable<Final.Models.Producto>


@{
    ViewBag.Title = "Consulta";
}

<h2>Consulta</h2>
@Html.ActionLink("Impresion", "ImprimirConsulta")
@using (Html.BeginForm("Consulta", "Consulta", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input Type="submit" value="submit" />
}

<table>
    <tr>
        <th> Nombre </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
        </tr>
    }

</table>

