@model IEnumerable<Final.Models.Stock>

@{
    ViewBag.Title = "Entrada";
}

<h2>Consulta de Entradas por Producto, Fecha y Proveedor</h2>

@using (Html.BeginForm("Entrada", "Consulta", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input Type="submit" value="submit" />
}

<table>
    <tr>
        <th> Nombre </th>
        <th> Proveedor </th>
        <th> Fecha </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
            <td> @Html.DisplayFor(modelItem => item.Proveedor)</td>
        </tr>
    }

</table>