
@{
    ViewBag.Title = "Filtro";
}

<h2>Filtro de contenidos</h2>

<a href=@Url.Action("Producto", "Consulta") class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Producto</a>
<a href=@Url.Action("Cliente", "Consulta") class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cliente</a>
<a href=@Url.Action("Facturaciones", "Consulta") class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Facturacion</a>
<a href=@Url.Action("Entrada", "Consulta") class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Entradas</a>
<a href=@Url.Action("Proveedores", "Consulta") class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Proveedores</a>
