
@{
    ViewBag.Title = "Filtro";
}

<h2>Filtro de contenidos</h2>

<button type="button" class="btn btn-primary btn-lg btn-block">Los productos </button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Los clientes</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Los proveedores</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Las entradas</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Las facturaciones</button>
