
@{
    ViewBag.Title = "Index";
}

<h2>Filtro y consulta de contenido</h2>

<div class="card" style="width: 18rem;">
    <img src=@Url.Content("~/Fotos/Filtro.jpg") class="card-img-top" style="width:80px;height:100px;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Crud de productos</h5>
        <p class="card-text">Filtro de contenido en la base de datos</p>
        <a href=@Url.Action("Filtro", "Consulta") class="btn btn-primary stretched-link">Filtro</a>
        <br />
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src=@Url.Content("~/Fotos/Consulta.png") class="card-img-top" style="width:80px;height:100px;" alt="...">
    <div class="card-body">
        <h5 class="card-title">Crud de proveedores</h5>
        <p class="card-text">Consulta general de la base de datos</p>
        <a href=@Url.Action("Consulta", "Consulta") class="btn btn-primary stretched-link">Consulta </a>
    </div>
</div>