@model IEnumerable<Final.Models.Stock>

@{
    ViewBag.Title = "Producto";
}

<h2>Consulta de productos por nombre</h2>
@Html.ActionLink("Impresion", "ImprimirProducto")
@using (Html.BeginForm("Producto", "Consulta", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input Type="submit" value="submit" />
}

<table>
    <tr>
        <th> Nombre </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
        </tr>
    }

</table>