@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projecto Final</h1>
    <p class="lead">Este Proyecto Fue Hecho Por Edwin A. Ruiz (2017-5079).</p>
    <p><a href="https://github.com/Edwinrr31/Final" class="btn btn-primary btn-lg">Link del repositorio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CRUD's</h2>
        <p>
            En informática, CRUD es el acrónimo de "Crear, Leer, Actualizar y Borrar" (del original en inglés: Create, Read, Update and Delete), que se usa para referirse a las funciones básicas en bases de datos o la capa de persistencia en un software.
            En el sofware creado habia que crear 3 CRUD uno para productos, proveedores y clientes.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "CRUD")"> Cruds &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entradas de mercancia y Facturacion </h2>
        <p>En esta parte estaremos entrando las mercancias al stock de productos y tambien facturando los productos a los clientes</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Bill")"> Parte de Facturacion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consulta</h2>
        <p>En esta parte vamos a consultar los datos guardados en la data base</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Consulta")">Consulta &raquo;</a></p>
    </div>
</div>